    public static class {{ModelTypeName}}AdoNetMappingExtensions
    {
        public static void AddAllParameters(this {{ModelTypeName}} model, IDbCommand command)
        {
            void AddParameter<T>(string name, T value)
            {
                var newParameter = command.CreateParameter();
                newParameter.ParameterName = name;
                newParameter.Value = value;
                command.Parameters.Add(newParameter);
            }

            {{#Record.Parameters}}
            AddParameter("@{{ParameterName}}", model.{{ParameterName}});
            {{/Record.Parameters}}
            {{#Properties}}
            AddParameter("@{{PropertyName}}", model.{{PropertyName}});
            {{/Properties}}
        }

        {{#HasDefaultConstructor}}
        public static {{ModelTypeName}} LoadRecord(IDataRecord record)
        {
            var result = new {{ModelTypeName}}();
            {{#Properties}}
            // {{PropertyName}}
            result.{{PropertyName}} = record["{{PropertyName}}"] is object {{PropertyName}}_Boxed
                ? ({{PropertyTypeSyntax}}){{PropertyName}}_Boxed : default;
            {{/Properties}}
            
            return result;
        }
        {{/HasDefaultConstructor}}
    }