{{& FileHeader}}
{{#Usings.Syntaxes}}
{{.}}
{{/Usings.Syntaxes}}

{{#NullableEnable}}
#nullable enable
{{/NullableEnable}}

namespace {{Namespace}}
{
{{& Configuration.CustomCode}}
    /// <summary>
    /// This is a generated class.
    /// The tool used to generate this file is called Genco.
    /// </summary>
    {{#ModelAttributes}}
    {{Syntax}}
    {{/ModelAttributes}}
    public {{ModelTypeSyntax}} {{ModelTypeName}}{{Record.ParameterListSyntax}}
    {
        {{#Constructor}}
        {{/Constructor}}
        {{#Properties}}
        // {{PropertyName}}
        {{PropertyAttributeSyntax}}
        public {{PropertyTypeSyntax}} {{PropertyName}} { get;{{PropertySetterSyntax}} }{{PropertyDefaultValueSyntax}}

        {{/Properties}}
        {{#HasDefaultConstructor}}
        public static {{ModelTypeName}} FromDictionary(IDictionary<string, object?> dictionary)
        {
            var result = new {{ModelTypeName}}();
            result.PopulateFromDictionary(dictionary);
            return result;
        }
        {{/HasDefaultConstructor}}
    }

{{#Configuration.Generate.Mappers.Dictionary}}
{{>CSharpCodeDictionaryMappingMethods}}
{{/Configuration.Generate.Mappers.Dictionary}}

{{#Configuration.Generate.Mappers.AdoNet}}
{{>CSharpCodeAdoNetMappingMethods}}
{{/Configuration.Generate.Mappers.AdoNet}}
}