    public static class {{ModelTypeName}}DictionaryMappingExtensions
    {

        public static void PopulateFromDictionary(this {{ModelTypeName}} instance, IDictionary<string, object?> dictionary)
        {
            {{#Properties}}
            // {{PropertyName}}
            {{#PropertyIsAssignable}}
            if (dictionary.TryGetValue("{{PropertyName}}", out var {{PropertyName}}_AsObj))
            {
#if DEBUG
                if ({{PropertyName}}_AsObj is not null)
                {
                    var type = {{PropertyName}}_AsObj.GetType();
                    var value = {{PropertyName}}_AsObj;
                    System.Diagnostics.Debug.Assert(
                        {{ModelTypeName}}Meta.Property_{{PropertyName}}.PropertyType.IsAssignableFrom(type),
                        $"dictionary['{{PropertyName}}'] of type '{type.FullName}' (Value: {value}) is not assignable to {{ModelTypeName}}.{{PropertyName}}");
                }
#endif
                {{#PropertyIsNotNull}}
                if ({{PropertyName}}_AsObj is not null) instance.{{PropertyName}} = ({{PropertyTypeSyntax}}){{PropertyName}}_AsObj;
                else throw new ArgumentException("The value for the key '{{PropertyName}}' in the supplied dictionary is null", nameof(dictionary));
                {{/PropertyIsNotNull}}
                {{#PropertyIsNullable}}
                instance.{{PropertyName}} = ({{PropertyTypeSyntax}}){{PropertyName}}_AsObj;
                {{/PropertyIsNullable}}
            }
            {{#PropertyIsNotNull}}
            else throw new KeyNotFoundException("The key '{{PropertyName}}' was not present in the supplied dictionary");
            {{/PropertyIsNotNull}}
            {{#PropertyIsNullable}}
            else instance.{{PropertyName}} = default;
            {{/PropertyIsNullable}}
            {{/PropertyIsAssignable}}
            {{/Properties}}
        }

        public static IDictionary<string, object?> ToDictionary(this {{ModelTypeName}} instance)
        {
            var dictionary = new Dictionary<string, object?>
            {
                {{#Record.Parameters}}
                ["{{ParameterName}}"] = instance.{{ParameterName}},
                {{/Record.Parameters}}
                {{#Properties}}
                ["{{PropertyName}}"] = instance.{{PropertyName}},
                {{/Properties}}
            };
            return dictionary;
        }
    }