{{& FileHeader}}
{{#Usings}}
using {{.}};
{{/Usings}}

{{#NullableEnable}}
#nullable enable
{{/NullableEnable}}

namespace {{Namespace}}
{
{{& Configuration.CustomCode}}
    /// <summary>
    /// This is a generated class.
    /// The tool used to generate this file is called Genco.
    /// </summary>
    {{#Attributes}}[{{.}}]{{/Attributes}}
    public {{TypeSyntax}} {{TypeName}}{{RecordParameterList}}
    {
        {{Constructor}}

        {{#Properties}}
        {{#Attributes}}[{{.}}]{{/Attributes}}
        public {{TypeSyntax}} {{Name}} { get;{{SetterSyntax}} }{{DefaultValueSyntax}}
        {{/Properties}}

        {{#HasDefaultConstructor}}
        public static {{TypeName}} FromDictionary(IDictionary<string, object?> dictionary)
        {
            var result = new {{TypeName}}();
            result.PopulateFromDictionary(dictionary);
            return result;
        }
        {{/HasDefaultConstructor}}
    }

{{#Configuration.Generate.Mappers.Dictionary}}
{{>CSharpCodeDictionaryMappingMethods}}
{{/Configuration.Generate.Mappers.Dictionary}}

{{#Configuration.Generate.Mappers.AdoNet}}
{{>CSharpCodeAdoNetMappingMethods}}
{{/Configuration.Generate.Mappers.AdoNet}}
}